 a:link {
                color:black;
                font-size:30px;
                text-decoration: none;
                font-family: fantasy;
                width: auto; 
            
        }
a:visited {
                color: black;
}
h1 {
                color: antiquewhite;
                font-size: 40px;
                font-family:fantasy;
}
h2 {
                color : black;
                font-size: 35px;
}

p {
                color: white;
                font-size: 20px;
}
li {
        list-style: none;
}

#container {
                 background-image: url(HNASeal.jpg);
                 width: 598px;
                height: 598px;
                float: left;
}
