 a:link {
                color:black;
                font-size:30px;
                text-decoration: none;
                font-family: fantasy;
                width: auto; 
            
        }
a:visited {
                color: black;
}
h1 {
                color: antiquewhite;
                font-size: 40px;
                font-family:fantasy;
}
h2 {
                color : black;
                font-size: 35px;
                font-family: fantasy;
}

p {
                color: white;
                font-size: 20px;
}
li {
        list-style: none;
}

#container {
                 background-image: url(HNASeal.jpg); 
                background-size: 598px 599px;
                background-repeat: no-repeat;
                background-position: center;
                width: 1000px;
                height: 600px;
}
