 a:link {
                color:black;
                font-size:35px;
                text-decoration: none;
                width: auto; 
                font-weight: bold;
        }
a:visited {
                color: fuchsia;
}
h1 {
                color: fuchsia;
}

p {
                color: white;
                font-size: 20px;
}
li {
        list-style: none;
}

